{% extends 'base.html' %}
{% block title %}- Delete{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
        <div class="card text-white bg-warning mb-3" style="height: 30px; text-align:center; font-size:15px;">
            Do you want to delete {{ object }}?
        </div>
        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" class="btn btn-secondary btn-lg" value="Confirm">
        </form>
    </div>
    <div class="col-md-2"></div>
    </div>
{% endblock %}
