{% extends 'base.html' %}
{% block title %}
    {{ object.text|truncatechars:10 }}
{% endblock %}

{% block content %}
    <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 panel panel-default">
                <p><img src="{{object.photo.url}}" style="width:100%;"></p>
                <button type="button" class="btn btn-warning disabled btn-lg">
                    {{object.author.username}}</button>
                <h2 class="text-primary">{{object.title|linebreaksbr}}</h2>
                <h5>{{object.text|linebreaksbr}}</h5>
                <a href="{% url 'photo:photo_delete' pk=object.id %}" class="btn btn-outline-danger btn-lg float-right">Delete</a>
                <a href="{% url 'photo:photo_update' pk=object.id %}" class="btn btn-outline-info btn-lg  float-right">Update</a>
            </div>
                <div class="col-md-2"></div>
                <div class="col-md-8 panel panel-default">
                    {% load disqus_tags %}
                    {% disqus_show_comments %}
                </div>
                <div class="col-md-2"></div>
    </div>
{% endblock %}